@charset "utf-8";

article h1 {
  color: dodgerblue;
}

article h1, article h2 {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

article p, article q, article b {
  font-size: 1.25rem;
  margin: 0;
}

article b {
  display: block;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

#madonna {
  display: block;
  margin: 2.5rem auto;
  max-width: 100%;
  max-height: calc(100vh - var(--header-height) - 3rem);
  border-radius: 1rem;
  box-shadow: 0 .25rem 1rem dimgray;
}

@media print, (min-width: 576px) {
  article h1 {
    font-size: 3.5rem;
  }

  article h2 {
    font-size: 1.75rem;
  }
}

@media print {
  article h1 {
    color: black;
  }
}
